body{
    background-color: black;
    font-family: "VT323", Arial, sans-serif;
    font-size: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(230, 146, 28);

}



.header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 30px;
    /* border: 1px solid rgb(230, 146, 28); */

    color: rgb(230, 146, 28);
}
#pictureSection, #nameSection, #contactsSection{
    padding: 10px;
    
}

#contactsSection{
    border: 1px dashed rgb(0, 0, 0);
    background-color: rgb(230, 146, 28);
    color: black;
    text-align: left;
    display: flex;
    margin:9px;
    height: 130px;
    flex-direction: column;
    justify-content: space-evenly;
}

#nameSection{
    font-size:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1px;

}
h1,h3{
    margin:3px
}
#profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about{

    padding: 20px;
    border: 1px solid rgb(230, 146, 28);
    align-items: left;
    text-align: left;
    color: rgb(230, 146, 28);
}

.experience{
    background-color: rgb(1, 1, 38);
    color: white;
    font-size: 28px;
    border: 1px dashed;
    padding: 10px;
    margin: 10px;
}
#byExperience>.experience{
    max-width: 400px;
} 
#titre{
    align-content: flex-end;
}
ul{
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
li{
    margin:5px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#byTime{
    display: none;
}
#byExperience{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
button{
background-color: green;
font-family: "VT323", Arial, sans-serif;
font-size: 28px;
color: white;
}
button:hover{
    background-color: red;
}

.Selection{
 margin-bottom:5px;
 font-size: 28px;
 display:flex;
 align-items: center;
 justify-content: flex-start;
 gap:10px
}