body{
    background-color: black;
    font-family: monospace, Arial, sans-serif;
    font-size: 15px;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    color: rgb(230, 146, 28);

}



.header {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: black;
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(230, 146, 28);
    align-items: center;
    text-align: center;
    color: rgb(230, 146, 28);
}
#pictureSection, #nameSection, #contactsSection{
    padding: 10px;
    margin: 10px;
}

#contactsSection{
    border: 1px dashed rgb(0, 0, 0);
    background-color: rgb(230, 146, 28);
    color: black;
    text-align: left;
}

#nameSection{
   font-size:30px;
}
#profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about{

    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(230, 146, 28);
    align-items: left;
    text-align: left;
    color: rgb(230, 146, 28);
}

.experience{
    border: 1px dashed;
    padding: 10px;
    margin: 10px;
}
ul{
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
li{
    margin:5px;
}
a{
    color: rgb(0, 0, 0);

    text-decoration: none;

}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#byTime{
    display: none;
}

button {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
button:hover {
    box-shadow:inset 0px 1px 0px 0px #3dc21b;
    border:1px solid #18ab29;
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}
